<!DOCTYPE html>
{% load static %}
<html lang="ko" class="h-100 w-100">
    <head>
        <meta charset="utf-8">
        <title>여기있대</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <!-- Default CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body class="container-fluid d-flex flex-column h-100 w-100 text-center p-5">
        <header class="border">
            <div class="yj">
                <h3 class="float-md-start mb-0">여기있대</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" href="faq">FAQ</a>
                    <a class="nav-link" href="#">고객센터</a>
                </nav>
            </div>
        </header>

        <main class="mt-auto mb-auto yj mx-3 border">
            <h1>찾는 상품이 있으신가요?</h1>
            <input type="text">
            <a href="#" class="btn btn-secondary">검색</a>
        </main>
        
        <footer class="text-muted border">
            융합시스템공학종합설계 8조 - 장유정, 장원석, 장재식, 이태희
        </footer>
    </body>
</html>