<!DOCTYPE html>
{% load static %}
<html lang="ko" class="h-100 w-100">
    <head>
        <meta charset="utf-8">
        <title>여기있대</title>

        <!-- Bootstrap core JS -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Default JS -->
        <script src="{% static 'js/default.js' %}"></script>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Default CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body class="container-fluid d-flex flex-column h-100 w-100 text-center p-5">
        <header class="yj">
            <h3 class="float-md-start mb-0">여기있대</h3>
            <nav class="nav float-md-end">
                <a class="nav-link" href="faq">FAQ</a>
            </nav>
        </header>

        <main class="mt-auto mb-auto mx-3">
            <h1 class="yj">찾는 상품이 있으신가요?</h1>
            <form action="https://www.google.com/search">
                <input class="w-25 searchBox" type="text" name="q" placeholder="상품명 입력" required>
                <button class="yj btn btn-secondary">검색</button>
            </form>
        </main>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="yj accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                        맞춤 상품
                    </button>
                </h2>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>맞춤 상품 추천</strong> 개발 중
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="yj accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                        인기 상품
                    </button>
                </h2>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>인기 상품 추천</strong> 개발 중
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-muted">
        </footer>
    </body>
</html>