/* Font */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.yj {
    font-family: "yg-jalnan";
}

/* BackGround Color */
.bg-lightGray {
    background-color:#e4e8ec;
}

/* Search Box */
.searchBox {
    border-color:#dc3545;
    border-radius: 0.25rem;
    border-style: solid;
}